.font_rpg {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Classe para remover margens com top e bottom de 3px */
.no-margin p{
    margin-top: 1px;
    margin-bottom: 1px;
}

hr {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
    background-color: #fff;
    height: 4px;
  }

span[contenteditable="true"] {
    cursor: text;
}