{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}


    <div id="armas" class="card shadow p-5 bg-dark text-white-50">
        <h4 class="text-white">Lista de Armas</h4>       
        
        <table class="table table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th style="width: 200px;">Dano - Tipo</th> 
                    <th>Propriedades (metros)</th>
                    <th>Maestria</th>
                    <th>Peso</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for arma in armas %}
                    <tr>
                        <td>{{ arma.nome }} <i>({{ arma.nome_original }})</i></td>
                        <td>{{ arma.categoria }}</td>
                        <td>{{ arma.dado_dano }} - {{ arma.tipo_dano }}</td>
                        <td>{{ arma.propriedades }}</td>
                        <td>{{ arma.maestria }}</td>
                        <td>{{ arma.peso }}</td>
                        <td>{{ arma.preco }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>


    {% endif %}

{% endblock %}
