<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RPG Tools</title>
    <link rel="icon" href="/static/imagem/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <style>
      .dropdown-container {
          position: relative;
      }

      .form-control-custom {
          display: none;
      }
  </style>
  </head> 
  <body class="bg-black font_rpg"> 
    
    <nav class="navbar navbar-expand-lg navbar bg-dark"  data-bs-theme="dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
              <img src="/static/imagem/logo35.png"/>
              {% if current_user.is_authenticated %}  
              <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="/">Inicial</a> </li>
              <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="/pj/">Personagens</a> </li>
              
              <li class="nav-item">                
                <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Magias
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item " href="/magia">Magias</a></li>
                    <li><a class="dropdown-item" href="/magia/criarmagia" >Criar Magias</a></li>
                    <li><a class="dropdown-item disabled" href="/magia/regras"  aria-disabled="true">Regras</a></li>

                  </ul>
                </div> 
              </li>            
              

              <li class="nav-item">                
                <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Equipamento
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/equip">Todos</a></li>
                    <li><a class="dropdown-item" href="/equip/arma">Armas</a></li>
                    <li><a class="dropdown-item" href="/equip/armadura">Armadura</a></li>
                    <li><a class="dropdown-item" href="/equip/equip" >Gerais</a></li>
                    <li><a class="dropdown-item disabled " href="/equip/consumiveis" aria-disabled="true">Consumíveis</a></li>
                    <li><a class="dropdown-item disabled" href="/equip/magicos"  aria-disabled="true">Mágicos</a></li>
                    <li><a class="dropdown-item disabled" href="/equip/extras"  aria-disabled="true">Extras</a></li>
                  </ul>
                </div> 
              </li> 
              
                            
              <li class="nav-item">
                <div class="dropdown">
                  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mestre
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/mestre">Mestre</a></li>
                    <li><a class="dropdown-item" href="/npc">NPCs</a></li>
                    <li><a class="dropdown-item" href="/npc/criatura">Criaturas</a></li>
                    <li><a class="dropdown-item" href="/npc/create">Gerador NPC</a></li>
                    <li><a class="dropdown-item" href="/mestre/campanha">Campanha</a></li>
                    <li><a class="dropdown-item" href="/mestre/cenario">Cenário</a></li>
                    <li><a class="dropdown-item disabled" href="#"  aria-disabled="true" >Organizações</a></li>
                    <li><a class="dropdown-item" href="/mestre/encontro">Encontro</a></li>
                    <li><a class="dropdown-item disabled" href="#"  aria-disabled="true">Mapas</a></li>
                    <li><a class="dropdown-item disabled" href="#"  aria-disabled="true">Tabelas</a></li>
                  </ul>
                </div> 
              </li>


              <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="/rolador/">Rolador de Dados</a> </li>
              <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="#">Combate</a> </li>
              {% endif %}
            </ul>
   
              <ul class="navbar-nav ms-auto">
              {% if current_user.is_authenticated %}                
                <li class="nav-item"><p class="nav-link active mb-0 h1 text-white"><b> {{current_user.nome}} {{current_user.sobrenome}}</b></p> </li>
                <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="/logout">Logout</a> </li>
              {% else %}
                <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="/login">Login</a> </li>
                <li class="nav-item"><a class="nav-link active mb-0 h1 text-white" href="/login/register">Register</a> </li>
              {% endif %}
              </ul>
            </ul>
        </div>
    </nav>

    <div class="container">
      <br>
      <br>
     
    

    
        {% block conteudo %}
        {% endblock %}

        <br>
        <br>
        <br>
        <br>
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>    

  </body>