{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}
    
    <div class="d-flex align-items-center">
        <div class="col-md-4">
            <select id="npc-select" class="form-select bg-black text-white border-light">
                <option value="" disabled selected>Selecione uma Campanha</option>            
            </select>        
        </div>
        <button class="btn btn-secondary btn-sm">+</button>
    </div>
    <br>
    









    
    <div class="navbar navbar-expand-lg navbar bg-dark">
        <h5 class="d-inline-block mx-3">
            <a  href="#" class="text-white-50 link-underline link-underline-opacity-0"> Mapas</a>
        </h5>
        <h5 class="d-inline-block mx-3">
            <a  href="#" class="text-white-50 link-underline link-underline-opacity-0"> Tabelas</a>
        </h5>
    </div>
    <br>
    
    
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card shadow p-5 bg-dark text-white-50">
                    <h2 class="text-white"><b>TIRANIA DOS DRAGÕES</b></h2>
                    <hr>
                    <h5 class="text-white"><b>DESCRIÇÃO</b></h5>
                    <p>
                        Texto explicando um pouco da campanha, o nivel inicial e um breve resumo do que se propõe, alem de um vislumbre dos desafios a serem enfrentados                  
                    </p>
                    <hr>
                    
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>PERSONAGENS</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>

                    <p> <strong class="text-white">Aristemy</strong> - Alto Elfo - Nobre - Bladesiguer- <strong class="text-white">Nível:</strong> 13  </p>
                    <p> <strong class="text-white">Gernon</strong> - Anão da Montanha - Nobre - Campeão - <strong class="text-white">Nível:</strong> 13 </p>
                    <p> <strong class="text-white">Kitai</strong> - Humano - Soldado - Samirai- <strong class="text-white">Nível:</strong> 13 </p>
                    <p> <strong class="text-white">Big Pig</strong> - Humano - Forasteiro - Gloom Stalker - <strong class="text-white">Nível:</strong> 13 </p>
                                      
                    <hr>
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>CENÁRIOS</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>
                    <p> <strong class="text-white">Forgotten Realms</strong> Mundo Toril </p>
                    <p> <strong class="text-white">Costa da espada</strong> Região das cidades Independentes </p>                    
                    <p> <strong class="text-white">Waterdeep</strong> Cidade decadente com a nobrza isolada da plebe </p>
                    <p> <strong class="text-white">Icewinddale</strong> Cidade gelada, fronteira do mundo civilizado </p>
                    <p> <strong class="text-white">Baldur Gate</strong> Cidade Iconica, governo corrupto e próspero </p>
                    <p> <strong class="text-white">Pantano dos mortos</strong> Lar dos vampiros e e outros malditos </p>  
                    <p> <strong class="text-white">Floresta maldita</strong> Floresta densa, evitada pelos habitantes  </p>                    
                    <p> <strong class="text-white">Estepes sangrentas</strong> Deserto lar dos bárbaros da tribo Zourath  </p>                                        
                    <hr>

                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>ORGANIZAÇÕES</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>
                    <p> <strong class="text-white">Aliança dos Lordes</strong> Pacto de auto defesa das cidades livres, cercada de intrigas e politica </p>
                    <p> <strong class="text-white">Zentharin</strong> Guila mercante conchecida por não ter escrupulos ou ética </p>
                    <p> <strong class="text-white">Culto do Dragão</strong> Culto dedicado a trazer a glória de Tiamat de volta a toril </p>
                    <p> <strong class="text-white">Assembleia dos Dragões</strong> Governo dracônico liderados pelos seus anciões </p>
                                      
                    <hr>
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>NPCS IMPORTANTES</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>
                    <p> <strong class="text-white">Sloboldan</strong> Vampiro vingativo <strong class="text-white">ND</strong> 15 </p>
                    <p> <strong class="text-white">Azbardajor</strong> Mago vermelho de Thay, concelheiro do culto <strong class="text-white">ND</strong> 15
                    <p> <strong class="text-white">Tales, O branco</strong> Lider de subfacção entre os cultistas <strong class="text-white">ND</strong> 13 </p>
                    <p> <strong class="text-white">Nielle</strong> Agente Zentarin <strong class="text-white">ND</strong> 13 </p>
                                      
                    <hr>

                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>SEGREDOS E RUMORES</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>
                    <p> <strong class="text-white">Rumor</strong> Zetharin estão sequestrando lordes </p>
                    <p> <strong class="text-white">Rumor</strong> Um beholder está liderando uma guilda de ladinos </p>
                    <p> <strong class="text-white">Segredo</strong> Elminster tem um caso com Mystra </p>
                    <p> <strong class="text-white">Segredo</strong> Dritzz está escondido em Icewinde </p>                                     
                    <hr>


                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>ARCO NARRATIVO</b></h5>
                    </div>
                    <br>
                    <p> <strong class="text-white"> Arco Narrativo </strong> os personagens estão vagando pelas estepes em uma caravana </p>
                <hr>
                    <button class="btn btn-secondary btn-sm">+</button>
                
                </div>                    
            </div>
    
            <div class="col-md-4">
                <div class="card shadow p-5 bg-dark text-white-50">
                    
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>ENCONTROS</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>
                    <p> Batalha de Vila Verde </p>
                    <p> Emboscada a Caravana </p>
                    <p> Invadindo o Covil </p>
                </div>
                <br>                
                <div class="card shadow p-5 bg-dark text-white-50">
                    
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>GANCHOS</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>

                    <p> Espada Perdida </p>
                    <p> Carta para Aliança </p>
                    <p> Resgate Rhanna </p>
                </div>
                <br>
                <div class="card shadow p-5 bg-dark text-white-50">
                    
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>LEMBRETES</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>

                    <p> Familia McMorn </p>
                    <p> Ataque a Sardes </p>
                    <p> Corvo da Tempestade </p>
                </div>
                <br>

                <div class="card shadow p-5 bg-dark text-white-50">
                    
                    <div class="d-flex align-items-center">
                        <h5 class="text-white mb-0 me-2"><b>Sessões</b></h5>
                        <button class="btn btn-secondary btn-sm">+</button>
                    </div>
                    <br>

                    <p> <b>01</b> - 06/08/2021 </p>
                    <p> <b>02</b> - 15/08/2021 </p>
                    <p> <b>03</b> - 23/08/2021 </p>
                    <p> <b>04</b> - 13/09/2021 </p>
                    <p> <b>05</b> - 26/09/2021 </p>
                </div>


            </div>
        </div>
    </div>
    
    


    {% endif %}

{% endblock %}
