{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}

    <div class="card shadow p-5 bg-dark text-white no-margin"> 
        <h1><b>CENÁRIOS</b></h1> 
        <br>
        <p> Bem-vindo à sua porta de entrada para a criação e manutenção de <b>Locais</b> fascinantes que darão vida 
            às suas aventuras e narrativas! Aqui, você pode descrever tudo, desde uma sombria masmorra até uma 
            pitoresca vila, uma vasta região ou um imponente bastião — as possibilidades são infinitas! Além disso, 
            é possível adicionar <b>NPCs e Organizações</b> que irão complementar e enriquecer sua história. Os cenários 
            que você criar aqui podem ser utilizados em uma ou mais </b>Campanhas e Encontros</b>, proporcionando uma experiência 
            de jogo verdadeiramente memorável! </p>
            <br>

        <div class="col-md-4">
            <select id="cenario-select" class="form-select bg-dark text-white border-light">
                <option value="" disabled selected>Selecione um Cenário</option>
                {% for cenario in cenarios %}
                    <option value="{{ cenario.id }}">{{ cenario.cenario['nome'] |title}} - {{ cenario.cenario['categoria'] |title}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        
        <div class="d-flex flex-wrap gap-2">
            {% for cenario in cenarios %}
            <div class="d-flex flex-wrap gap-2">
                <!-- O ID do botão está vinculado ao ID único do modal -->
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#cenarioModal{{ cenario.id }}"> 
                    <strong class="text-white">{{ cenario.cenario['nome']|title }}</strong> 
                </button>
            </div>
        
            <!-- Modal para cada cenário -->
            <div class="modal fade" id="cenarioModal{{ cenario.id }}" tabindex="-1" aria-labelledby="cenarioModalLabel{{ cenario.id }}" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-body">
                            <div class="cenario-detalhes">
                                <h1><b>{{ cenario.cenario['nome']|title  }}</b></h1>
                                <p><i>#{{ cenario.id}}</i> {{ cenario.cenario['categoria']|title }}</p>
                                <hr>
                                
                                {% if cenario.cenario['descricaocurta']  %}
                                    <h5><strong>Resumo</strong></h5>
                                    <div class="form-group">
                                        <p>{{ cenario.cenario['descricaocurta'] }}</p>
                                    </div>
                                    <hr>
                                {% endif %}


                                {% if  cenario.cenario['descricao']  %}
                                <h5><strong>Descrição</strong></h5>
                                <div class="form-group">
                                    <p>{{ cenario.cenario['descricao'] }}</p>
                                </div>
                                <hr>

                                {% endif %}

                                {% if  cenario.cenario['historia']  %}
                                <h5><strong>História</strong></h5>
                                <div class="form-group">
                                    <p>{{ cenario.cenario['historia'] }}</p>
                                </div>
                                <hr>
                                {% endif %}

                                {% if  cenario.cenario['regras'] != [{'nome_regra': '', 'descricao_regra': '', 'observacao': ''}]  %}
                                <h5><strong>Regras</strong></h5>
                                    {% for regra in cenario.cenario['regras'] %}
                                        <p><b>Nome da Regra: {{ regra['nome_regra'] }}</b> - {{ regra['descricao_regra'] }}.</p>
                                        {% if regra['observacao'] != ""  %}
                                        <p>Obs.{{ regra['observacao'] }}</p>
                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                <hr>
                                {% endif %}

                                {% if  cenario.cenario['info_cenario'] != [{'pericia': '', 'cd': '', 'informacao': ''}]  %}
                                <h5><strong>Informações</strong></h5>
                                    {% for info in cenario.cenario['info_cenario'] %}
                                        <p><b>{{ info['pericia'] }}</b>, CD:({{ info['cd'] }}) - {{ info['informacao'] }}</p>
                                        <br>
                                    {% endfor %}
                                <hr>
                                {% endif %}

                                {% if  cenario.cenario['cenarios_agregados'] !=  [{'nome': '', 'id': '', 'observacao': ''}]  %}
                                <h5><strong>Locais Importantes</strong></h5>
                                    {% for local in cenario.cenario['cenarios_agregados'] %}
                                        <p><b>{{ local['nome'] }}</b></p>
                                        <p>Observação: {{ local['observacao'] }}</p>
                                        <br>
                                    {% endfor %}
                                <hr>
                                {% endif %}
                                

                                {% if  cenario.cenario['npcs'] !=  [{'nome': '', 'id': '', 'observacao': ''}]  %}
                                <h5><strong>Personagens Importantes</strong></h5>
                                    {% for npc in cenario.cenario['npcs'] %}
                                        <p><b>{{ npc['nome'] }}</b></p>
                                        <p>Observação: {{ npc['observacao'] }}</p>
                                        <br>
                                    {% endfor %}
                                <hr>
                                {% endif %}



                                {% if  cenario.cenario['organizacoes'] !=  [{'nome': '', 'id': '', 'observacao': ''}]  %}
                                <h5><strong>Organizações</strong></h5>
                                    {% for org in cenario.cenario['organizacoes'] %}
                                        <p><b> {{ org['nome'] }}</b></p>
                                        <p>{{ org['observacao'] }}</p>
                                    {% endfor %}
                                <hr>
                                {% endif %}

                                {% if  cenario.cenario['outras'] != []  %}
                                <h5><strong>Organizações</strong></h5>
                                {% for outra in cenario.cenario['outras'] %}
                                    <h5><strong>{{ outra['titulo'] }}</strong></h5>
                                    <p>Texto: {{ outra['texto'] }}</p>
                                    <br>
                                {% endfor %}
                                <hr>
                                {% endif %}

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-danger ms-2" onclick="deletarCenario({{ cenario.id }})">Deletar</button> 
                                    <button name="action" value="editar" class="btn btn-primary">Editar</button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
        <hr>

        <div class="row">
            <div class="col text-end"> <!-- Alinha o conteúdo à direita -->
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#criarcenario">
                    Criar Cenário
                  </button>
            </div>
        </div>
        
    </div>
    <br>




<!----------------------- Criação  de Personagem   ------------------------------------------------------->





    <!-- Modal -->
<form id="form-cenario" method="POST">
    <div class="modal fade modal-xl " id="criarcenario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-body">
                <br>
                <h2><b>NOVO CENÁRIO</b></h2>
                <br>
                <p> 
                    Para dar vida ao seu cenário, preencha os campos abaixo. 
                    Apenas o nome é obrigatório, mas sinta-se à vontade para adicionar 
                    detalhes especiais no campo de <b>Outras Informações</b>. 
                    Ao inserir <b>NPCs, Cenários e Organizações</b>, você poderá conectar-se a 
                    informações já existentes, enriquecendo sua narrativa. E não se esqueça de usar 
                    campo de observação para descrever a atuação ou função de cada elemento no seu mundo, 
                    tornando a experiência ainda mais imersiva! 
                </p>

                <hr>
                <!-- INICIO DO FORM -->

                    <div class="row">
        
                        <div class="col-md-3 form-group">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" class="form-control bg-dark text-white border-light">
                        </div>
        
                        <div class="col-md-7 form-group">
                            <label for="descricaocurta">Descrição Curta</label>
                            <input type="text" id="descricaocurta" name="descricaocurta" class="form-control bg-dark text-white border-light">
                        </div>
        
                        <div class="col-md-2 form-group">
                            <label for="categoria">Categoria</label>
                            <input type="text" id="categoria" name="categoria" class="form-control bg-dark text-white border-light" >
                        </div>
        
                    </div>
                    <div class="row">  
                        <div class="col-md-12 form-group">
                            <label for="descricao">Descrição Completa</label>
                            <textarea id="descricao" name="descricao" class="form-control bg-dark text-white border-light" rows="3"></textarea>
                        </div>
        
                        <div class="col-md-12 form-group">
                            <label for="historia">História</label>
                            <textarea id="historia" name="historia" class="form-control bg-dark text-white border-light" rows="3"></textarea>
                        </div>
                    </div>
                    
                    <hr>
                    <!---------------------REGRAS ----------------------------------------->
                    <div class="d-flex align-items-center justify-content-start">
                        <h3 class="text-white mt-4 mb-0 me-2"><b>REGRAS</b></h3>
                        <button id="add-rule" class="btn btn-secondary btn-sm mt-4 mb-0 me-2" type="button">+</button>
                    </div>
                    <div id="rule-container">
                        <div class="row rule-row">
                            <div class="col-md-4 form-group">
                                <label for="nome_regra1">Nome da Regra</label>
                                <input type="text" id="nome_regra1" name="nome_regra[]" class="form-control bg-dark text-white border-light">
                            </div>
        
                            <div class="col-md-5 form-group">
                                <label for="descricao_regra1">Descrição da Regra</label>
                                <input type="text" id="descricao_regra1" name="descricao_regra[]" class="form-control bg-dark text-white border-light">
                            </div>
        
                            <div class="col-md-3 form-group">
                                <label for="observacao_regra1">Observações</label>
                                <input type="text" id="observacao_regra1" name="observacao_regra[]" class="form-control bg-dark text-white border-light">
                            </div>
                        </div>
                    </div>
        
                    <!-- Script para adicionar novas linhas de regras -->
                    <script>
                        let ruleCount = 1;
        
                        document.getElementById('add-rule').addEventListener('click', function() {
                            ruleCount++;
        
                            const ruleContainer = document.getElementById('rule-container');
        
                            // Criando a nova linha de regra
                            const newRule = `
                            <div class="row rule-row mt-3">
                                <div class="col-md-4 form-group">
                                    <label for="nome_regra${ruleCount}">Nome da Regra</label>
                                    <input type="text" id="nome_regra${ruleCount}" name="nome_regra[]" class="form-control bg-dark text-white border-light">
                                </div>
        
                                <div class="col-md-5 form-group">
                                    <label for="descricao_regra${ruleCount}">Descrição da Regra</label>
                                    <input type="text" id="descricao_regra${ruleCount}" name="descricao_regra[]" class="form-control bg-dark text-white border-light">
                                </div>
        
                                <div class="col-md-3 form-group">
                                    <label for="observacao_regra${ruleCount}">Observações</label>
                                    <input type="text" id="observacao_regra${ruleCount}" name="observacao_regra[]" class="form-control bg-dark text-white border-light">
                                </div>
                            </div>
                            `;
        
                            // Adicionando a nova linha ao container
                            ruleContainer.insertAdjacentHTML('beforeend', newRule);
                        });
                    </script>
                    <hr>
        
        
        
                    <!--------------------- Informações ----------------------------------------->
                    <div class="d-flex align-items-center justify-content-start">
                        <h3 class="text-white mt-4 mb-0 me-2"><b>INFORMAÇÕES</b></h3>
                        <button id="add-info" class="btn btn-secondary btn-sm mt-4 mb-0 me-2" type="button">+</button>
                    </div>
                    <div id="info-container">
                        <div class="row info-row">
                            <div class="col-md-2 form-group">
                                <label for="pericia1">Perícia Necessária</label>
                                <input type="text" id="pericia1" name="pericia[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="cd1">CD</label>
                                <input type="text" id="cd1" name="cd[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-9 form-group">
                                <label for="informacao1">Informação Relevante</label>
                                <input type="text" id="informacao1" name="informacao[]" class="form-control bg-dark text-white border-light">
                            </div>
                        </div>
                    </div>
        
                    <!-- Script para adicionar novas linhas de informações -->
                    <script>
                        let infoCount = 1;
        
                        document.getElementById('add-info').addEventListener('click', function() {
                            infoCount++;
        
                            const infoContainer = document.getElementById('info-container');
        
                            // Criando a nova linha de informação
                            const newInfo = `
                            <div class="row info-row mt-3">
                                <div class="col-md-2 form-group">
                                    <label for="pericia${infoCount}">Perícia Necessária</label>
                                    <input type="text" id="pericia${infoCount}" name="pericia[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-1 form-group">
                                    <label for="cd${infoCount}">CD</label>
                                    <input type="text" id="cd${infoCount}" name="cd[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-9 form-group">
                                    <label for="informacao${infoCount}">Informação Relevante</label>
                                    <input type="text" id="informacao${infoCount}" name="informacao[]" class="form-control bg-dark text-white border-light">
                                </div>
                            </div>
                            `;
        
                            // Adicionando a nova linha ao container
                            infoContainer.insertAdjacentHTML('beforeend', newInfo);
                        });
                    </script>
                    <hr>
        
        
                    <!--------------------- NPCs  ----------------------------------------->
                    <div class="d-flex align-items-center justify-content-start">
                        <h3 class="text-white mt-4 mb-0 me-2"><b>NPCs</b></h3>                
                        <button id="add-npc" class="btn btn-secondary btn-sm mt-4 mb-0 me-2" type="button">+</button>
                    </div>                            
                    <div id="npc-container">
                        <div class="row npc-row mt-3"> 
                            <div class="col-md-2 form-group">
                                <label for="nome_npc1">Nome do NPC</label>
                                <input type="text" id="nome_npc1" name="nome_npc[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="id_npc1">Selecionar NPC</label>
                                <input type="text" id="id_npc1" name="id_npc[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-8 form-group">
                                <label for="observacao_npc1">Observações</label>
                                <input type="text" id="observacao_npc1" name="observacao_npc[]" class="form-control bg-dark text-white border-light">
                            </div>
                        </div>
                    </div>
        
                    <!-- Script para adicionar novas linhas de NPCs -->
                    <script>
                        let npcCount = 1;
        
                        document.getElementById('add-npc').addEventListener('click', function() {
                            npcCount++;
        
                            const npcContainer = document.getElementById('npc-container');
        
                            // Criando a nova linha de NPC
                            const newNpc = `
                            <div class="row npc-row mt-3">
                                <div class="col-md-2 form-group">
                                    <label for="nome_npc${npcCount}">Nome do NPC</label>
                                    <input type="text" id="nome_npc${npcCount}" name="nome_npc[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="id_npc${npcCount}">Selecionar NPC</label>
                                    <input type="text" id="id_npc${npcCount}" name="id_npc[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-8 form-group">
                                    <label for="observacao_npc${npcCount}">Observações</label>
                                    <input type="text" id="observacao_npc${npcCount}" name="observacao_npc[]" class="form-control bg-dark text-white border-light">
                                </div>
                            </div>
                            `;
        
                            // Adicionando a nova linha ao container
                            npcContainer.insertAdjacentHTML('beforeend', newNpc);
                        });
                    </script>
        
                    <hr>
        
                    <!--------------------- Organizações  ----------------------------------------->
                    <div class="d-flex align-items-center justify-content-start">
                        <h3 class="text-white mt-4 mb-0 me-2"><b>ORGANIZAÇÕES</b></h3>                
                        <button id="add-organization" class="btn btn-secondary btn-sm mt-4 mb-0 me-2" type="button">+</button>
                    </div>                             
                    <div id="organization-container">
                        <div class="row organization-row mt-3"> 
                            <div class="col-md-2 form-group">
                                <label for="nome_organizacao1">Nome</label>
                                <input type="text" id="nome_organizacao1" name="nome_organizacao[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="id_organizacao1">Selecionar</label>
                                <input type="text" id="id_organizacao1" name="id_organizacao[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-8 form-group">
                                <label for="observacao_organizacao1">Observações</label>
                                <input type="text" id="observacao_organizacao1" name="observacao_organizacao[]" class="form-control bg-dark text-white border-light">
                            </div>
                        </div>
                    </div>
        
                    <!-- Script para adicionar novas linhas de Organizações -->
                    <script>
                        let organizationCount = 1;
        
                        document.getElementById('add-organization').addEventListener('click', function() {
                            organizationCount++;
        
                            const organizationContainer = document.getElementById('organization-container');
        
                            // Criando a nova linha de Organização
                            const newOrganization = `
                            <div class="row organization-row mt-3">
                                <div class="col-md-2 form-group">
                                    <label for="nome_organizacao${organizationCount}">Nome</label>
                                    <input type="text" id="nome_organizacao${organizationCount}" name="nome_organizacao[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="id_organizacao${organizationCount}">Selecionar</label>
                                    <input type="text" id="id_organizacao${organizationCount}" name="id_organizacao[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-8 form-group">
                                    <label for="observacao_organizacao${organizationCount}">Observações</label>
                                    <input type="text" id="observacao_organizacao${organizationCount}" name="observacao_organizacao[]" class="form-control bg-dark text-white border-light">
                                </div>
                            </div>
                            `;
        
                            // Adicionando a nova linha ao container
                            organizationContainer.insertAdjacentHTML('beforeend', newOrganization);
                        });
                    </script>
        
                    <hr>
        
                    <!--------------------- Cenários Agregados  ----------------------------------------->
                    <div class="d-flex align-items-center justify-content-start">
                        <h3 class="text-white mt-4 mb-0 me-2"><b>CENÁRIOS AGREGADOS</b></h3>                
                        <button id="add-scenario" class="btn btn-secondary btn-sm mt-4 mb-0 me-2" type="button">+</button>
                    </div>                              
                    <div id="scenario-container">
                        <div class="row scenario-row mt-3"> 
                            <div class="col-md-2 form-group">
                                <label for="nome_cenario_agregado1">Nome</label>
                                <input type="text" id="nome_cenario_agregado1" name="nome_cenario_agregado[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="id_cenario_agregado1">Selecionar Cenário</label>
                                <input type="text" id="id_cenario_agregado1" name="id_cenario_agregado[]" class="form-control bg-dark text-white border-light">
                            </div>
                            <div class="col-md-8 form-group">
                                <label for="observacao_cenario_agregado1">Observações</label>
                                <input type="text" id="observacao_cenario_agregado1" name="observacao_cenario_agregado[]" class="form-control bg-dark text-white border-light">
                            </div>
                        </div>
                    </div>
        
                    <!-- Script para adicionar novas linhas de Cenários Agregados -->
                    <script>
                        let scenarioCount = 1;
        
                        document.getElementById('add-scenario').addEventListener('click', function() {
                            scenarioCount++;
        
                            const scenarioContainer = document.getElementById('scenario-container');
        
                            // Criando a nova linha de Cenário Agregado
                            const newScenario = `
                            <div class="row scenario-row mt-3">
                                <div class="col-md-2 form-group">
                                    <label for="nome_cenario_agregado${scenarioCount}">Nome</label>
                                    <input type="text" id="nome_cenario_agregado${scenarioCount}" name="nome_cenario_agregado[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="id_cenario_agregado${scenarioCount}">Selecionar Cenário</label>
                                    <input type="text" id="id_cenario_agregado${scenarioCount}" name="id_cenario_agregado[]" class="form-control bg-dark text-white border-light">
                                </div>
                                <div class="col-md-8 form-group">
                                    <label for="observacao_cenario_agregado${scenarioCount}">Observações</label>
                                    <input type="text" id="observacao_cenario_agregado${scenarioCount}" name="observacao_cenario_agregado[]" class="form-control bg-dark text-white border-light">
                                </div>
                            </div>
                            `;
        
                            // Adicionando a nova linha ao container
                            scenarioContainer.insertAdjacentHTML('beforeend', newScenario);
                        });
                    </script>
        
                    <hr>
        
                    <!--------------------- Outras Informações  ----------------------------------------->
                    <div class="d-flex align-items-center justify-content-start">
                        <h3 class="text-white mt-4 mb-0 me-2"><b>OUTRAS INFORMAÇÕES</b></h3>                
                        <button id="add-other-info" class="btn btn-secondary btn-sm mt-4 mb-0 me-2" type="button">+</button>
                    </div>   
                    <div id="other-info-container">
                    </div>
        
                    <!-- Script para adicionar novos blocos de Outras Informações -->
                    <script>
                        let otherInfoCount = 0;
        
                        document.getElementById('add-other-info').addEventListener('click', function() {
                            otherInfoCount++;
        
                            const otherInfoContainer = document.getElementById('other-info-container');
        
                            // Criando o novo bloco de Outras Informações
                            const newOtherInfo = `
                            <hr>
                            <div class="row other-info-row mt-3"> 
                                <div class="col-md-12 form-group">
                                    <label for="titulo${otherInfoCount}">Título</label>
                                    <input type="text" id="titulo${otherInfoCount}" name="titulo[]" class="form-control bg-dark text-white border-light">
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12 form-group">
                                    <label for="texto${otherInfoCount}">Texto</label>
                                    <textarea id="texto${otherInfoCount}" name="texto[]" class="form-control bg-dark text-white border-light" rows="3"></textarea>
                                </div>
                            </div>
                            `;
        
                            // Adicionando o novo bloco ao container
                            otherInfoContainer.insertAdjacentHTML('beforeend', newOtherInfo);
                        });
                    </script>
        
                    <hr>

        

                <!-- FIM DO FORM -->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary ">Salvar</button>
            </div>
        </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('form-cenario').onsubmit = async function (event) {
        event.preventDefault(); // Evita o comportamento padrão do formulário

        // Captura todos os dados do formulário automaticamente
        let formData = new FormData(document.getElementById('form-cenario'));

        try {
            // Faz a requisição para o backend
            let response = await fetch('/mestre/cenario', {
                method: 'POST',
                body: formData
            });

            let result = await response.json(); // Pega a resposta em formato JSON

            // Exibe o alerta com base no status da resposta
            if (result.status === 'success') {
                alert(result.message);
                window.location.reload();
            } else {
                alert(result.message);
            }
        } catch (error) {
            alert('Erro ao tentar criar o cenário.');
            console.error(error);
        }
    }
</script>


<script>
    function deletarCenario(cenarioId) {
        if (confirm("Tem certeza que deseja deletar esse NPC?")) {
            fetch(`/mestre/delete_cenario/${cenarioId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert("Cenário deletado com sucesso!");
                    location.reload();
                } else {
                    alert("Erro ao deletar Cenário");
                }
            })
            .catch(error => console.error('Erro:', error));
        }
    }
</script>








    {% endif %}

{% endblock %}
