{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}
    <div class="navbar navbar-expand-lg navbar bg-dark">
        <h5 class="d-inline-block mx-3">
            <a  href="/npc/create" class="text-white-50 link-underline link-underline-opacity-0"> Gerador de NPCs</a>
        </h5>
        <h5 class="d-inline-block mx-3">
            <a  href="/npc" class="text-white-50 link-underline link-underline-opacity-0"> NPCs</a>
        </h5>
        <h5 class="d-inline-block mx-3">
            <a  href="/npc/criatura" class="text-white-50 link-underline link-underline-opacity-0"> Criaturas</a>
        </h5>
    </div>
    <br>

    <!--Aqui Começa o NPC -->

    <div class="card shadow p-5 bg-dark text-white no-margin">
        <h1 class="text-white col-md-12 mb-0" ><b>{{ npc.nome }}</b></h1>
        <hr>
        <form method="POST">
            <h3 class="text-white mb-0 me-3"><b>Descrição</b></h3>
            <div class="row">

                <div class="col-md-2 form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control bg-dark text-white border-light" value="{{ npc.nome }}">
                </div>
            

                <div class="col-md-2 form-group">
                    <label for="raca">Raça</label>
                    <input type="text" id="raca" name="raca" class="form-control bg-dark text-white border-light" value= "{{ npc.ficha['raca'] }}">
                </div>

                <div class="col-md-2 form-group">
                    <label for="tamanho">Tamanho</label>
                    <input type="text" id="tamanho" name="tamanho" class="form-control bg-dark text-white border-light" value= "{{ npc.ficha['tamanho'] }}">
                </div>
                <div class="col-md-2 form-group">
                    <label for="tendencia">Tendencia</label>
                    <input type="text" id="tendencia" name="tendencia" class="form-control bg-dark text-white border-light" value= "{{ npc.ficha['tendencia'] }}">
                </div>

                <div class="col-md-1 form-group">
                    <label for="ca">CA</label>
                    <input type="text" id="ca" name="ca" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['ca'] }}">
                </div>

                <div class="col-md-2 form-group">
                    <label for="armadurausada">Armadura</label>
                    <input type="text" id="armadurausada" name="armadurausada" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['armadurausada'] }}">
                </div>

                <div class="col-md-1 form-group">
                    <label for="iniciativa">Iniciativa</label>
                    <input type="text" id="iniciativa" name="iniciativa" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['iniciativa'] }}">
                </div>
            </div>

                <div class="row">
                    
                    <div class="col-md-1 form-group">
                        <label for="pv">PV</label>
                        <input type="text" id="pv" name="pv" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['pv'] }}">
                    </div>
                
                    <div class="col-md-1 form-group">
                        <label for="dadosvida">DV</label>
                        <input type="text" id="dadosvida" name="dadosvida" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['dadosvida'] }}">
                    </div>
                
                    <div class="col-md-1 form-group">
                        <label for="linguas">Línguas</label>
                        <input type="text" id="linguas" name="linguas" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['linguas'] | join(', ') }}">
                    </div>
                
                    <div class="col-md-1 form-group">
                        <label for="speed">Mov.</label>
                        <input type="text" id="speed" name="speed" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['speed'] }}">
                    </div>
                

                    <div class="col-md-1 form-group">
                        <label for="voo">Vôo</label>
                        <input type="text" id="voo" name="voo" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['voo'] }}">
                    </div>

                

                    <div class="col-md-1 form-group">
                        <label for="natacao">Natação</label>
                        <input type="text" id="natacao" name="natacao" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['natacao'] }}">
                    </div>

                    <div class="col-md-1 form-group">
                        <label for="darkvision">Darkvision</label>
                        <input type="text" id="darkvision" name="darkvision" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['darkvision'] }}">
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="percepcao_passiva">P. Passiva</label>
                        <input type="text" id="percepcao_passiva" name="percepcao_passiva" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['Percepcão_passiva'] }}">
                    </div>

                    <div class="col-md-1 form-group">
                        <label for="nd">ND</label>
                        <input type="text" id="nd" name="nd" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['nd'] }}">        
                    </div>

                    <div class="col-md-1 form-group">
                        <label for="xp">XP</label>                        
                        <input type="text" id="xp" name="xp" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['xp'] }}">        
                    </div>

                    <div class="col-md-1 form-group">
                        <label for="proef">Proef.</label>                        
                        <input type="text" id="proef" name="proef" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['proef'] }}">        
                    </div>

                </div>
                
                <div class="row">
                    <!-- Coluna 1 -->

                    <div class="col-md-2">
                        <label for="forca">FOR</label>
                        <input type="text" id="forca" name="forca" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['forca'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="bforca">Mod</label>
                        <input type="text" id="bforca" name="bforca" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['bforca'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="save_forca">Save</label>
                        <input type="text" id="save_forca" name="save_forca" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['save_forca'] }}">
                    </div>
                    <div class="col-md-2">                

                        <label for="inteligencia">INT</label>
                        <input type="text" id="inteligencia" name="inteligencia" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['inteligência'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="binteligencia">Mod</label>
                        <input type="text" id="binteligencia" name="binteligencia" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['binteligência'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="save_inteligencia">Save</label>
                        <input type="text" id="save_inteligencia" name="save_inteligencia" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['save_inteligencia'] }}">
                    </div>

                    <div class="col-md-2">
                        <label for="destreza">DES</label>
                        <input type="text" id="destreza" name="destreza" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['destreza'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="bdestreza">Mod</label>
                        <input type="text" id="bdestreza" name="bdestreza" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['bdestreza'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="save_destreza">Save</label>
                        <input type="text" id="save_destreza" name="save_destreza" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['save_destreza'] }}">
                    </div>
                    <div class="col-md-2">
                        <label for="sabedoria">SAB</label>
                        <input type="text" id="sabedoria" name="sabedoria" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['sabedoria'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="bsabedoria">Mod</label>
                        <input type="text" id="bsabedoria" name="bsabedoria" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['bsabedoria'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="save_sabedoria">Save</label>
                        <input type="text" id="save_sabedoria" name="save_sabedoria" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['save_sabedoria'] }}">
                    </div>                
                    <div class="col-md-2">
                        <label for="constituicao">CON</label>
                        <input type="text" id="constituicao" name="constituicao" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['constituição'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="bconstituicao">Mod</label>
                        <input type="text" id="bconstituicao" name="bconstituicao" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['bconstituição'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="save_constituicao">Save</label>
                        <input type="text" id="save_constituicao" name="save_constituicao" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['save_constituicao'] }}">
                    </div>
                    <div class="col-md-2">

                        <label for="carisma">CAR</label>
                        <input type="text" id="carisma" name="carisma" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['carisma'] }}">
                    </div>
                    <div class="col-md-2">   
                        <label for="bcarisma">Mod</label>
                        <input type="text" id="bcarisma" name="bcarisma" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['bcarisma'] }}">
                    </div>
                    <div class="col-md-2">    
                        <label for="save_carisma">Save</label>
                        <input type="text" id="save_carisma" name="save_carisma" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['atributos']['save_carisma'] }}">
                    </div>
                </div>
                <hr>
                <h3 class="text-white mb-0 me-3"><b>Resistências e Imunidades</b></h3>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="resistencias">Resistencias</label>
                        <input type="text" id="resistencias" name="resistencias" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['resistencias'] | join(', ') }}">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="imunidades">Imunidades</label>
                        <input type="text" id="imunidades" name="imunidades" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['imunidades'] | join(', ') }}">
                    </div>
                </div>






                    <br>
                    <hr>

                    <!-- Perícias -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <h3 class="text-white mb-0 me-3"><b>Perícias</b></h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="add-pericia">+</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row" id="pericias-container">
                        {% for pericia in npc.ficha['pericias_atuais'] %}
                            <div class="col-md-2 form-group">
                                <label for="pericia_nome_{{ loop.index }}">Perícia</label>
                                <input type="text" id="pericia_nome_{{ loop.index }}" name="pericia_nome_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ pericia['nome'] }}">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="pericia_valor_{{ loop.index }}">Valor</label>
                                <input type="text" id="pericia_valor_{{ loop.index }}" name="pericia_valor_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ pericia['valor'] }}">
                            </div>
                        {% endfor %}
                    </div>

                        <hr>    

                    <!-- Habilidades -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <h3 class="text-white mb-0 me-3"><b>Habilidades</b></h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="add-habilidade">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="habilidades-container">
                        {% for habilidade in npc.ficha['habilidades_atuais'] %}
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="habilidade_nome_{{ loop.index }}">Habilidade</label>
                                <input type="text" id="habilidade_nome_{{ loop.index }}" name="habilidade_nome_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ habilidade['nome'] }}">
                            </div>
                            <div class="col-md-10 form-group">
                                <label for="habilidade_descricao_{{ loop.index }}">Descrição</label>
                                <input type="text" id="habilidade_descricao_{{ loop.index }}" name="habilidade_descricao_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ habilidade['descricao'] }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>


                    <!-- Reações -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <h3 class="text-white mb-0 me-3"><b>Reações</b></h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="add-reacao">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="reacoes-container">
                        {% if npc.ficha['reacoes_atuais'] %}
                        <hr>
                            {% for habilidade in npc.ficha['reacoes_atuais'] %}
                            <div class="row">
                                <div class="col-md-2 form-group">
                                    <label for="reacao_nome_{{ loop.index }}">Nome da Reação</label>
                                    <input type="text" id="reacao_nome_{{ loop.index }}" name="reacao_nome_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ habilidade['nome'] }}">
                                </div>
                                <div class="col-md-10 form-group">
                                    <label for="reacao_descricao_{{ loop.index }}">Descrição</label>
                                    <input type="text" id="reacao_descricao_{{ loop.index }}" name="reacao_descricao_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ habilidade['descricao'] }}">
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    
                    <!-- Ações -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <h3 class="text-white mb-0 me-3"><b>Ações</b></h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="add-acao">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="acoes-container">
                        {% for habilidade in npc.ficha['acoes_atuais'] %}
                        <div class="col-md-2 form-group">
                            <label for="acao_nome_{{ loop.index }}">Nome da Ação</label>
                            <input type="text" id="acao_nome_{{ loop.index }}" name="acao_nome_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ habilidade['nome'] }}">
                        </div>
                        <div class="col-md-10 form-group">
                            <label for="acao_descricao_{{ loop.index }}">Descrição da Ação</label>
                            <input type="text" id="acao_descricao_{{ loop.index }}" name="acao_descricao_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ habilidade['descricao'] }}">
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    


                    <!-- Ataques -->
                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <h3 class="text-white mb-0 me-3"><b>Ataques</b></h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="add-ataque">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" id="ataques-container">
                        {% for ataque in npc.ficha['ataques_atuais'] %}
                        <div class="row">
                            <div class="col-md-1 form-group">
                                <label for="ataque_nome_{{ loop.index }}">Ataque</label>
                                <input type="text" id="ataque_nome_{{ loop.index }}" name="ataque_nome_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['nome'] }}">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="ataque_bonus_{{ loop.index }}">Bônus</label>
                                <input type="text" id="ataque_bonus_{{ loop.index }}" name="ataque_bonus_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['bonus'] }}">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="ataque_tipo_{{ loop.index }}">Tipo</label>
                                <input type="text" id="ataque_tipo_{{ loop.index }}" name="ataque_tipo_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['tipo'] }}">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="ataque_alcance_{{ loop.index }}">Alcance</label>
                                <input type="text" id="ataque_alcance_{{ loop.index }}" name="ataque_alcance_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['alcance'] }}">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="ataque_dano_{{ loop.index }}">Dano</label>
                                <input type="text" id="ataque_dano_{{ loop.index }}" name="ataque_dano_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['dano'] }}">
                            </div>
                            <div class="col-md-1 form-group">
                                <label for="ataque_dado_{{ loop.index }}">Dado</label>
                                <input type="text" id="ataque_dado_{{ loop.index }}" name="ataque_dado_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['dado'] }}">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="ataque_tipodano_{{ loop.index }}">Tipo de Dano</label>
                                <input type="text" id="ataque_tipodano_{{ loop.index }}" name="ataque_tipodano_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['tipodano'] }}">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="ataque_extra_{{ loop.index }}">Efeito Extra</label>
                                <input type="text" id="ataque_extra_{{ loop.index }}" name="ataque_extra_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ ataque['extra'] }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    

                    <div class="row">
                        <div class="col">
                            <div class="d-flex align-items-center">
                                <h3 class="text-white mb-0 me-3"><b>Ações Lendárias</b></h3>
                                <div class="col-auto">
                                    <button type="button" class="btn btn-primary"
                                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" id="add-acao-lendaria">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="desclendaria">Descrição Lendária</label>
                            <input type="text" id="desclendaria" name="desclendaria" class="form-control bg-dark text-white border-light" value="{{ npc.ficha['desclendaria']| join(', ')}}">
                        </div>
                    </div>
                    
                    <br>
                    
                    <div id="acoes-lendarias-container">
                        {% for lendarias in npc.ficha['acoes_lendarias_atuais'] %}
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="acao_lendaria_nome_{{ loop.index }}">Ação Lendária</label>
                                <input type="text" id="acao_lendaria_nome_{{ loop.index }}" name="acao_lendaria_nome_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ lendarias['nome'] }}">
                            </div>
                            <div class="col-md-10 form-group">
                                <label for="acao_lendaria_descricao_{{ loop.index }}">Descrição da Ação Lendária</label>
                                <input type="text" id="acao_lendaria_descricao_{{ loop.index }}" name="acao_lendaria_descricao_{{ loop.index }}" class="form-control bg-dark text-white border-light" value="{{ lendarias['descricao'] }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    


                    <!-- Informações -->
                    <h3><strong>Informações</strong></h3>
                    <div class="form-group">

                        <textarea rows="5" id="informacoes" name="informacoes" class="form-control bg-dark text-white border-light">{{ npc.ficha['informacoes']}}</textarea>
                    
                    <hr>
                    <h3><strong>Dicas de Uso</strong></h3>
                    <div class="form-group">

                        <textarea id="usos" rows="5" name="usos" class="form-control bg-dark text-white border-light" >{{ npc.ficha['usos'] }}</textarea>
                    </div>


                    <br>

                    {% if npc.tipo == 'NPC' %}
                    <hr>
                    <h3><strong>Histórico de encontros</strong></h3>
                    <div class="form-group">

                        <textarea id="historico" rows="5" name="historico" class="form-control bg-dark text-white border-light">{{ npc.ficha['historico'] }}</textarea>
                    </div>
                    <br>
                    {% endif %}
                    


                    <div class="row" id="botoes">
                        <div class="col-md-4">
                            <button type="submit" name="action" value="nova_criatura" class="btn btn-primary w-100">Salvar Nova Criatura</button>
                        </div>
                
                        <div class="col-md-4">
                            <button type="submit" name="action" value="novo_npc" class="btn btn-primary w-100">Salvar Novo NPC</button>
                        </div>
                
                        <div class="col-md-4">
                            <button type="submit" name="action" value="alterar" class="btn btn-primary w-100">Alterar</button>
                        </div>
                    </div>

                </div>
                
            </div>


        </form>
    </div>
    <br>



    <script>
        document.getElementById('add-pericia').addEventListener('click', function() {
            // Identificar o container onde as perícias estão sendo adicionadas
            const container = document.getElementById('pericias-container');
            
            // Contar quantas perícias já existem
            const index = container.getElementsByClassName('form-group').length / 2; // Dividido por 2 pois são dois inputs por perícia
            
            // Criar novo elemento de perícia (nome)
            const novaPericiaNome = document.createElement('div');
            novaPericiaNome.classList.add('col-md-2', 'form-group');
            novaPericiaNome.innerHTML = `
                <label for="pericia_nome_${index + 1}">Perícia</label>
                <input type="text" id="pericia_nome_${index + 1}" name="pericia_nome_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Criar novo elemento de perícia (valor)
            const novaPericiaValor = document.createElement('div');
            novaPericiaValor.classList.add('col-md-1', 'form-group');
            novaPericiaValor.innerHTML = `
                <label for="pericia_valor_${index + 1}">Valor</label>
                <input type="text" id="pericia_valor_${index + 1}" name="pericia_valor_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Adicionar os novos campos ao container
            container.appendChild(novaPericiaNome);
            container.appendChild(novaPericiaValor);
        });
    </script>

    <script>
        document.getElementById('add-habilidade').addEventListener('click', function() {
            // Identificar o container onde as habilidades estão sendo adicionadas
            const container = document.getElementById('habilidades-container');
            
            // Contar quantas habilidades já existem
            const index = container.getElementsByClassName('form-group').length / 2; // Cada habilidade tem dois inputs
            
            // Criar novo elemento de habilidade (nome)
            const novaHabilidadeNome = document.createElement('div');
            novaHabilidadeNome.classList.add('col-md-2', 'form-group');
            novaHabilidadeNome.innerHTML = `
                <label for="habilidade_nome_${index + 1}">Habilidade</label>
                <input type="text" id="habilidade_nome_${index + 1}" name="habilidade_nome_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Criar novo elemento de habilidade (descrição)
            const novaHabilidadeDescricao = document.createElement('div');
            novaHabilidadeDescricao.classList.add('col-md-10', 'form-group');
            novaHabilidadeDescricao.innerHTML = `
                <label for="habilidade_descricao_${index + 1}">Descrição</label>
                <input type="text" id="habilidade_descricao_${index + 1}" name="habilidade_descricao_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Adicionar os novos campos ao container
            container.appendChild(novaHabilidadeNome);
            container.appendChild(novaHabilidadeDescricao);
        });
    </script>
    
    <script>
        document.getElementById('add-reacao').addEventListener('click', function() {
            // Identificar o container onde as reações estão sendo adicionadas
            const container = document.getElementById('reacoes-container');
            
            // Contar quantas reações já existem
            const index = container.getElementsByClassName('form-group').length / 2; // Cada reação tem dois inputs
            
            // Criar novo elemento de reação (nome)
            const novaReacaoNome = document.createElement('div');
            novaReacaoNome.classList.add('col-md-2', 'form-group');
            novaReacaoNome.innerHTML = `
                <label for="reacao_nome_${index + 1}">Nome da Reação</label>
                <input type="text" id="reacao_nome_${index + 1}" name="reacao_nome_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Criar novo elemento de reação (descrição)
            const novaReacaoDescricao = document.createElement('div');
            novaReacaoDescricao.classList.add('col-md-10', 'form-group');
            novaReacaoDescricao.innerHTML = `
                <label for="reacao_descricao_${index + 1}">Descrição</label>
                <input type="text" id="reacao_descricao_${index + 1}" name="reacao_descricao_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Adicionar os novos campos ao container
            container.appendChild(novaReacaoNome);
            container.appendChild(novaReacaoDescricao);
        });
    </script>
    
    <script>
        document.getElementById('add-acao').addEventListener('click', function() {
            // Identificar o container onde as ações estão sendo adicionadas
            const container = document.getElementById('acoes-container');
            
            // Contar quantas ações já existem
            const index = container.getElementsByClassName('form-group').length / 2; // Cada ação tem dois inputs
            
            // Criar novo elemento de ação (nome)
            const novaAcaoNome = document.createElement('div');
            novaAcaoNome.classList.add('col-md-2', 'form-group');
            novaAcaoNome.innerHTML = `
                <label for="acao_nome_${index + 1}">Nome da Ação</label>
                <input type="text" id="acao_nome_${index + 1}" name="acao_nome_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Criar novo elemento de ação (descrição)
            const novaAcaoDescricao = document.createElement('div');
            novaAcaoDescricao.classList.add('col-md-10', 'form-group');
            novaAcaoDescricao.innerHTML = `
                <label for="acao_descricao_${index + 1}">Descrição da Ação</label>
                <input type="text" id="acao_descricao_${index + 1}" name="acao_descricao_${index + 1}" class="form-control bg-dark text-white border-light">
            `;
            
            // Adicionar os novos campos ao container
            container.appendChild(novaAcaoNome);
            container.appendChild(novaAcaoDescricao);
        });
    </script>
    

    <script>
        document.getElementById('add-ataque').addEventListener('click', function() {
            // Identificar o container onde os ataques estão sendo adicionados
            const container = document.getElementById('ataques-container');
            
            // Contar quantos ataques já existem
            const index = container.getElementsByClassName('form-group').length / 8; // Cada ataque tem 8 inputs
            
            // Criar novo elemento de ataque (nome, bônus, tipo, alcance, dano, dado, tipo de dano, efeito extra)
            const novoAtaque = `
            <div class="row">
                <div class="col-md-1 form-group">
                    <label for="ataque_nome_${index + 1}">Ataque</label>
                    <input type="text" id="ataque_nome_${index + 1}" name="ataque_nome_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-1 form-group">
                    <label for="ataque_bonus_${index + 1}">Bônus</label>
                    <input type="text" id="ataque_bonus_${index + 1}" name="ataque_bonus_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-1 form-group">
                    <label for="ataque_tipo_${index + 1}">Tipo</label>
                    <input type="text" id="ataque_tipo_${index + 1}" name="ataque_tipo_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-1 form-group">
                    <label for="ataque_alcance_${index + 1}">Alcance</label>
                    <input type="text" id="ataque_alcance_${index + 1}" name="ataque_alcance_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-1 form-group">
                    <label for="ataque_dano_${index + 1}">Dano</label>
                    <input type="text" id="ataque_dano_${index + 1}" name="ataque_dano_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-1 form-group">
                    <label for="ataque_dado_${index + 1}">Dado</label>
                    <input type="text" id="ataque_dado_${index + 1}" name="ataque_dado_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-2 form-group">
                    <label for="ataque_tipodano_${index + 1}">Tipo de Dano</label>
                    <input type="text" id="ataque_tipodano_${index + 1}" name="ataque_tipodano_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-4 form-group">
                    <label for="ataque_extra_${index + 1}">Efeito Extra</label>
                    <input type="text" id="ataque_extra_${index + 1}" name="ataque_extra_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
            </div>
            `;
            
            // Adicionar os novos campos ao container
            container.insertAdjacentHTML('beforeend', novoAtaque);
        });
    </script>
    
    <script>
        document.getElementById('add-acao-lendaria').addEventListener('click', function() {
            // Identificar o container onde as ações lendárias estão sendo adicionadas
            const container = document.getElementById('acoes-lendarias-container');
            
            // Contar quantas ações já existem
            const index = container.getElementsByClassName('form-group').length / 2; // Cada ação lendária tem 2 inputs
            
            // Criar novo elemento de ação lendária
            const novaAcaoLendaria = `
            <div class="row">
                <div class="col-md-2 form-group">
                    <label for="acao_lendaria_nome_${index + 1}">Ação Lendária</label>
                    <input type="text" id="acao_lendaria_nome_${index + 1}" name="acao_lendaria_nome_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
                <div class="col-md-10 form-group">
                    <label for="acao_lendaria_descricao_${index + 1}">Descrição da Ação Lendária</label>
                    <input type="text" id="acao_lendaria_descricao_${index + 1}" name="acao_lendaria_descricao_${index + 1}" class="form-control bg-dark text-white border-light">
                </div>
            </div>
            `;
            
            // Adicionar os novos campos ao container
            container.insertAdjacentHTML('beforeend', novaAcaoLendaria);
        });
    </script>

    <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault(); // Impede o comportamento padrão de recarregar a página
        
            const formData = new FormData(this);
            
            // Capturar o valor do botão clicado
            const actionValue = document.querySelector('button[type=submit][clicked=true]').value;
            formData.append('action', actionValue);  // Adicionar o valor ao formData
        
            fetch(`/npc/edit/{{ npc.id }}`, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message); // Exibe a mensagem de sucesso
                    window.location.href = '/npc'; // Redireciona para a rota desejada
                } else {
                    alert("Erro: " + data.message); // Exibe a mensagem de erro
                }
            })
            .catch(error => console.error('Erro:', error));
        });
        
        // Detectar o clique no botão submit
        document.querySelectorAll('button[type=submit]').forEach(button => {
            button.addEventListener('click', function() {
                document.querySelectorAll('button[type=submit]').forEach(btn => btn.removeAttribute('clicked'));
                this.setAttribute('clicked', 'true');
            });
        });
    </script>
    
    
    {% endif %}

{% endblock %}
