{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}
   
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <div class="card shadow p-5 bg-dark text-white-50">
                    <img src="/static/imagem/logo.png" alt="logo"/>

                    <h4 class="text-white">Uma Jornada Começa!!!</h4>
                    <p>
                        Bem-vindo, {{current_user.nome}}! Estamos entusiasmados em tê-lo conosco! Aqui,
                        nossa missão é elevar a experiência de jogadores e mestres, tornando suas aventuras
                        mais dinâmicas e divertidas. Com nossos geradores automáticos, organizadores de campanhas,
                        ferramentas para encontros, rolagens de dados e uma série de funcionalidades, jogar RPG de
                        mesa será mais imersivo e gratificante do que nunca! Sua jornada não para por aqui — queremos
                        ouvir você! Envie suas sugestões, críticas e até agradecimentos. Nossa equipe está ansiosa para
                        trocar ideias e continuar aprimorando cada detalhe deste espaço que criamos com tanto carinho.
                        Nesta página, você poderá acompanhar de perto nosso progresso, novidades e os planos incríveis que
                        temos para o futuro. Prepare-se para descobrir novas possibilidades no mundo do RPG!
                    </p>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="card shadow p-5 bg-dark text-white-50">
                    <h4 class="text-white">Últimas Atualizações</h4>
                    <p><i>18/10/2024</i></p>
                    <p>
                       Iniciando o desenvolvimento das ferrametas de mestre para gerenciar campanhas, organizações, encontros e muito mais...
                    </p>
                </div>
                <br>
                <div class="card shadow p-5 bg-dark text-white-50">
                    <h4 class="text-white">Propaganda</h4>
                    <p>
                        Anuncie aqui!
                    </p>
                </div>

            </div>


        </div>
    </div>
    


















    {% endif %}

{% endblock %}
