{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}


    <div id="magias" class="card shadow p-5 bg-dark text-white-50">

        <div class="row">
            <div class="col-md-4 form-group">
                <h2 class="text-white"><b>Lista de Magias</b></h2>       
            </div>

            <div class="col-md-2 form-group">
                <label for="classe">Filtrar por Classe</label>
                <div class="dropdown-container">
                    <select id="classe" name="classe" class="form-control bg-dark text-white border-light">
                        <option value="Todas" {% if classe == 'Todas' %}selected{% endif %}>Todas</option>
                        <option value="1" {% if classe == '1' %}selected{% endif %}>Mago</option>
                        <option value="2" {% if classe == '2' %}selected{% endif %}>Clérigo</option>
                        <option value="3" {% if classe == '3' %}selected{% endif %}>Feiticeiro</option>
                        <option value="4" {% if classe == '4' %}selected{% endif %}>Bardo</option>
                        <option value="5" {% if classe == '5' %}selected{% endif %}>Druida</option>
                        <option value="6" {% if classe == '6' %}selected{% endif %}>Bruxo</option>
                        <option value="7" {% if classe == '7' %}selected{% endif %}>Paladino</option>
                        <option value="8" {% if classe == '8' %}selected{% endif %}>Patrulheiro</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-2 form-group">
                <label for="escola">Filtrar por Escola</label>
                <div class="dropdown-container">
                    <select id="escola" name="escola" class="form-control bg-dark text-white border-light">
                        <option value="Todas" {% if escola == 'Todas' %}selected{% endif %}>Todas</option>
                        <option value="1" {% if escola == '1' %}selected{% endif %}>Abjuração</option>
                        <option value="2" {% if escola == '2' %}selected{% endif %}>Advinhação</option>
                        <option value="3" {% if escola == '3' %}selected{% endif %}>Conjuração</option>
                        <option value="4" {% if escola == '4' %}selected{% endif %}>Encantamento</option>
                        <option value="5" {% if escola == '5' %}selected{% endif %}>Evocação</option>
                        <option value="6" {% if escola == '6' %}selected{% endif %}>Ilusão</option>
                        <option value="7" {% if escola == '7' %}selected{% endif %}>Necromancia</option>
                        <option value="8" {% if escola == '8' %}selected{% endif %}>Transmutação</option>
                    </select>
                </div>
            </div>


            <div class="col-md-2 form-group">
                <label for="magianivel">Filtrar por Nível</label>
                <div class="dropdown-container">
                    <select id="magianivel" name="magianivel" class="form-control bg-dark text-white border-light">
                        <option value="Todos" {% if magianivel == 'Todos' %}selected{% endif %}>Todos</option> 
                        <option value="0" {% if magianivel == '0' %}selected{% endif %}>Truque</option>
                        <option value="1" {% if magianivel == '1' %}selected{% endif %}>1º</option>
                        <option value="2" {% if magianivel == '2' %}selected{% endif %}>2º</option>
                        <option value="3" {% if magianivel == '3' %}selected{% endif %}>3º</option>
                        <option value="4" {% if magianivel == '4' %}selected{% endif %}>4º</option>
                        <option value="5" {% if magianivel == '5' %}selected{% endif %}>5º</option>
                        <option value="6" {% if magianivel == '6' %}selected{% endif %}>6º</option>
                        <option value="7" {% if magianivel == '7' %}selected{% endif %}>7º</option>
                        <option value="8" {% if magianivel == '8' %}selected{% endif %}>8º</option>
                        <option value="9" {% if magianivel == '9' %}selected{% endif %}>9º</option>
                    </select>
                </div>
            </div>


            
            <div class="col-md-2 form-group">
                <label for="organizar">Organizar por</label>
                <div class="dropdown-container">
                    <select id="organizar" name="organizar" class="form-control bg-dark text-white border-light">
                        <option value="Nome" {% if organizar == 'Nome' %}selected{% endif %}>Nome</option> 
                        <option value="Nivel" {% if organizar == 'Nivel' %}selected{% endif %}>Nível</option>
                        <option value="NomeOriginal" {% if organizar == 'NomeOriginal' %}selected{% endif %}>Nome Original</option>
                    </select>
                </div>
            </div>

        </div>
        
        <table class="table table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nível</th>
                    <th>Componentes</th> 
                    <th>Classes</th>
                    <th>Duração</th>
                    <th>Conjuração</th>
                    <th>Distância</th>
                    <th>Detalhes</th>
                </tr>
            </thead>
            <tbody>
                {% for magia in magias %}
                    <tr>
                        <td>{{ magia.magia["nome"] }}<i>({{ magia.magia["spellname"] }})</i></td>                     
                        {% if magia.magia["nivel"] == '0' %} 
                            <td>Truque de {{ magia.magia["escola"] }}</td>
                        {% else %}
                            <td>{{ magia.magia["nivel"] }}º de {{ magia.magia["escola"] }}</td>
                        {% endif %}     
                         <td>{{ magia.magia["componentes"]|join(", ") }}</td>        
                         <td>{{ magia.magia["classes"]|join(", ")}}</td>        
                         <td>{{ magia.magia["duracao"] }}</td>        
                         <td>{{ magia.magia["casting"] }}</td>        
                         <td>{{ magia.magia["distancia"] }}</td>
                         <td><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#magiaModal{{ magia.id }}">+</button></td>         
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    {% for magia in magias %}
    <div class="modal fade" id="magiaModal{{ magia.id }}" tabindex="-1" aria-labelledby="magiaModalLabel{{ magia.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-dark text-white">
                <div class="modal-body">
                    <div class="magia-detalhes no-margin">

                        <h1><b>{{ magia.magia['nome']|title  }}</b></h1>
                        <h3><i>#{{ magia.id }} ({{ magia.magia['spellname']|title  }})</i> </h3>
                        <label>
                            <input type="checkbox" class="form-check-input" id="toggleIdioma{{ magia.id }}" onchange="toggleDescricao({{ magia.id }})"> Descrição em Inglês
                        </label>

                        {% if magia.magia["nivel"] == '0' %} 
                            <p><i>Truque de {{ magia.magia["escola"] }} ({{ magia.magia["classes"]|join(", ")}})</i></p>
                        {% else %}
                            <p><i>{{ magia.magia["nivel"] }}º círculo de {{ magia.magia["escola"] }} ({{ magia.magia["classes"]|join(", ")}})</i></p>
                        {% endif %}

                        <p><b>Tempo de Conjuração:</b> {{ magia.magia["casting"] }}</p>
                        <p><b>Distância:</b> {{ magia.magia["distancia"] }}</p>
                        <p><b>Componentes:</b> {{ magia.magia["componentes"] | join(", ")}}</p>
                        <p><b>Duração:</b> {{ magia.magia["duracao"] }}</p>
                        <br>
                        
                        <!-- Texto em português e inglês controlado por JavaScript -->
                        <p id="descricaoPT{{ magia.id }}">{{ magia.magia["texto"] }}<br> 
                            
                            {% if  magia.magia["upgrade"] %}                           
                            <b>Level mais alto:</b> {{ magia.magia["upgrade"] }} 
                            {% endif %}
                        </p>

                        <p id="descricaoEN{{ magia.id }}" style="display:none">{{ magia.magia["spelldescription"] }}</p>
                        <br>
                        <p><i>{{ magia.magia["livro"] }}</i></p>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-danger ms-2" onclick="deletarMagia({{ magia.id }})">Deletar</button> 
                            <a type="button" name="action" value="editar" href="/magia/editar/{{ magia.id }}" class="btn btn-primary">Editar</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    {% endfor %}

    <!-- Script para alternar entre as descrições -->
    <script>
        function toggleDescricao(magiaId) {
            var checkbox = document.getElementById('toggleIdioma' + magiaId);
            var descricaoPT = document.getElementById('descricaoPT' + magiaId);
            var descricaoEN = document.getElementById('descricaoEN' + magiaId);

            if (checkbox.checked) {
                descricaoPT.style.display = 'none';
                descricaoEN.style.display = 'block';
            } else {
                descricaoPT.style.display = 'block';
                descricaoEN.style.display = 'none';
            }
        }
    </script>



    <script>
        function deletarMagia(magiaId) {
            if (confirm("Tem certeza que deseja deletar essa magia?")) {
                fetch(`/magia/deletar/${magiaId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(() => location.reload()) 
                .catch(error => console.error('Erro:', error));
            }
        }
    </script>

    <script>
        document.querySelectorAll('#classe, #escola, #organizar').forEach(function(el) {
            el.addEventListener('change', function() {
                let classe = document.getElementById('classe').value;
                let escola = document.getElementById('escola').value;
                let organizar = document.getElementById('organizar').value;
        
                // Garante que a URL comece da raiz (/) e vá para /magia/
                let url = `/magia/?classe=${classe}&escola=${escola}&organizar=${organizar}`;
                window.location.href = url; // Redireciona para a rota com os parâmetros de filtro
            });
        });
        
    </script>

    <script>
        document.querySelectorAll('#classe, #escola, #organizar, #magianivel').forEach(function(el) {
            el.addEventListener('change', function() {
                let classe = document.getElementById('classe').value;
                let escola = document.getElementById('escola').value;
                let organizar = document.getElementById('organizar').value;
                let magianivel = document.getElementById('magianivel').value;
        
                let url = `/magia/?classe=${classe}&escola=${escola}&organizar=${organizar}&magianivel=${magianivel}`;
                window.location.href = url;
            });
        });
    </script>

    {% endif %}

{% endblock %}
