{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}

    <div class="card shadow p-5 bg-dark text-white-50 no-margin">
        <div class="d-flex align-items-center mb-3">
            <!-- Lista de NPCs -->
            <h4 class="text-white col-md-2 mb-0">Lista de NPCs</h4>
            
            <!-- Campo de seleção -->
            <div class="col-md-4">
                <select id="npc-select" class="form-select bg-dark text-white border-light">
                    <option value="" disabled selected>Selecione um NPC</option>
                    {% for npc in npcs %}
                        <option value="{{ npc.id }}">{{ npc.id }} - {{ npc.ficha['nome'] }} - {{npc.ficha['raca']}} - ND {{npc.ficha['nd']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="d-flex flex-wrap gap-2">
        
        {% for npc in npcs %}
        <p> 
            
            <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ npc.id }}"> <strong class="text-white"> {{npc.ficha['nome']}} - {{npc.ficha['raca']}} - ND {{npc.ficha['nd']}}</strong> </button>
        </p>       
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ npc.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content bg-dark text-white">

                <div class="modal-body">
                    <h1> <strong>{{npc.ficha['nome']}} </strong></h1>
                    <hr class = 'hr'>

                    <p><I>#{{ npc.id }} {{npc.ficha['raca']}}, {{npc.ficha['tamanho']}}, {{npc.ficha['tendencia']}} </I></p>
                    
                    <p><strong>CA:</strong> {{npc.ficha['ca']}} - <strong>Iniciativa:</strong> {{npc.ficha['iniciativa']}} </p>                
                    <p> <strong>PV:</strong> {{npc.ficha['pv']}} <I>( {{npc.ficha['dadosvida']}} )</I> </p>
                    <p> <strong>Linguas:</strong> {{ npc.ficha['linguas'] | join(', ') }}</p>
                    <p><strong>Movimento </strong> {{npc.ficha['speed']}}                         
                        {% if npc.ficha['voo'] %}
                          <strong> Vôo </strong> {{npc.ficha['voo']}}
                        {% endif %}
                        {% if npc.ficha['natacao'] %}
                         <strong> Natação:</strong> {{npc.ficha['natacao']}}
                       {% endif %}
                    </p>

                    <div class="row">
                        <!-- Coluna 1 -->
                        <div class="col-md-4">
                            <table class="table table-dark table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Mod</th>
                                        <th>Save</th> 
                                    </tr>
                                    <tr>
                                        <td><strong>FOR</strong></td>
                                        <td>{{npc.ficha['atributos']['forca']}}</td>
                                        <td>{{npc.ficha['atributos']['bforca']}}</td>
                                        <td>{{npc.ficha['atributos']['save_forca']}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>INT</strong></td>
                                        <td>{{npc.ficha['atributos']['inteligência']}}</td>
                                        <td>{{npc.ficha['atributos']['binteligência']}}</td>
                                        <td>{{npc.ficha['atributos']['save_inteligencia']}}</td>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <!-- Coluna 2 -->
                        <div class="col-md-4">
                            <table class="table table-dark table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Mod</th>
                                        <th>Save</th> 
                                    </tr>
                                    <tr>
                                        <td><strong>DES</strong></td>
                                        <td>{{npc.ficha['atributos']['destreza']}}</td>
                                        <td>{{npc.ficha['atributos']['bdestreza']}}</td>
                                        <td>{{npc.ficha['atributos']['save_destreza']}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>SAB</strong></td>
                                        <td>{{npc.ficha['atributos']['sabedoria']}}</td>
                                        <td>{{npc.ficha['atributos']['bsabedoria']}}</td>
                                        <td>{{npc.ficha['atributos']['save_sabedoria']}}</td>
                                    </tr>
                                </thead>
        
                            </table>
                        </div>
                        
                        <!-- Coluna 3 -->
                        <div class="col-md-4">
                            <table class="table table-dark table-borderless">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Mod</th>
                                        <th>Save</th> 
                                    </tr>
                                    <tr>
                                        <td><strong>CON</strong></td>
                                        <td>{{npc.ficha['atributos']['constituição']}}</td>
                                        <td>{{npc.ficha['atributos']['bconstituição']}}</td>
                                        <td>{{npc.ficha['atributos']['save_constituicao']}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>CAR</strong></td>
                                        <td>{{npc.ficha['atributos']['carisma']}}</td>
                                        <td>{{npc.ficha['atributos']['bcarisma']}}</td>
                                        <td>{{npc.ficha['atributos']['save_carisma']}}</td>
                                    </tr>
                                </thead>
        
                            </table>                        
                        </div>
                    </div>
                    <p>
                    {% if npc.ficha['pericias_atuais'] %}                        
                    
                        <strong>Perícias:</strong>                        
                        {% for pericia in npc.ficha['pericias_atuais'] %}
                            {{ pericia['nome'] }} {{ pericia['valor'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}

                    {% endif %}
                    </p>
                    
                    <p>
                        <strong>Sentidos:</strong> 
                        Percepção Passiva {{ npc.ficha['Percepcão_passiva'] }}

                        {% if npc.ficha['darkvision'] %}
                            , Visão no escuro {{npc.ficha['darkvision']}}'
                        {% endif %}
                    </p>
                    
                    {% if npc.ficha['resistencias'] %}
                    <p>
                        <strong>Resistências:</strong>
                        {{ npc.ficha['resistencias'] | join(', ') }}
                    </p>
                    {% endif %}
                    {% if npc.ficha['imunidades'] %}
                    <p>
                        <strong>Imunidades:</strong>
                        {{ npc.ficha['imunidades'] | join(', ') }}
                    </p>
                    {% endif %}

                    <p><strong>ND:</strong> {{npc.ficha['nd']}} ({{npc.ficha['xp']}})- <strong>Proeficiência </strong>+ {{npc.ficha['proef']}}  </p>

                    
                    {% if npc.ficha['habilidades_atuais'] %}
                    <hr>                        
                    <h3><strong>Habilidades</strong></h3>
                        {% for habilidade in npc.ficha['habilidades_atuais'] %}
                        <p> <strong>{{habilidade['nome'] }}</strong> {{ habilidade['descricao'] }}</p>
                        {% endfor %}
                    {% endif %}


                    {% if npc.ficha['reacoes_atuais'] %}
                    <hr>
                    <h3><strong>Reações</strong></h3>

                        {% for habilidade in npc.ficha['reacoes_atuais'] %}
                        <p> <strong>{{habilidade['nome'] }}</strong> {{ habilidade['descricao'] }}</p>
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <h3><strong>Ações</strong></h3>

                    {% if npc.ficha['acoes_atuais'] %}
                        {% for habilidade in npc.ficha['acoes_atuais'] %}
                        <p> <strong>{{habilidade['nome'] }}</strong> {{ habilidade['descricao'] }}</p>
                        {% endfor %}
                    {% endif %}
                    

                    {% for ataque in npc.ficha['ataques_atuais'] %}                   

                            <p>
                                <strong>{{ ataque['nome'] }}</strong> +{{ ataque['bonus'] }} 
                                Ataque {{ ataque['tipo'] }} Alcance {{ ataque['alcance'] }}. Acerto {{ ataque['dano'] }} 
                                ({{ ataque['dado'] }}) {{ ataque['tipodano'] }} {{ ataque['extra'] }}
                            </p>

                    {% endfor %}

                    {% if npc.ficha['desclendaria'] and npc.ficha['desclendaria'] != [''] and npc.ficha['acoes_lendarias_atuais'] %}
                        <hr>                        
                        <h3><strong>Ações Lendárias</strong></h3>

                            {% for lendarias in npc.ficha['acoes_lendarias_atuais'] %}
                                <p> <strong>{{ lendarias['nome'] }}</strong> {{ lendarias['descricao'] }}</p>
                            {% endfor %}
                     {% endif %}
                    
                    {% if npc.ficha['informacoes'] %}
                        <hr>
                        <h3><strong>Informações</strong></h3>
                        <p>{{ npc.ficha['informacoes'] }}</p>                    
                    {% endif %}

                    {% if npc.ficha['usos'] %}
                        <hr>
                        <h3><strong>Dicas de Uso</strong></h3>
                        <p> {{ npc.ficha['usos'] }}</p>                    
                    {% endif %}


                    {% if npc.ficha['historico'] %}
                        <hr>
                        <h3><strong>Histórico de Encontros</strong></h3>
                        <p> {{ npc.ficha['historico'] }}</p>                    
                    {% endif %}


                    
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-danger ms-2" onclick="deletarNPC({{ npc.id }})">Deletar</button> 
                <a href="/npc/edit/{{ npc.id }}" class="btn btn-primary">Editar</a>
                </div>
            </div>
            </div>
        </div>

        {% endfor %}  
        </div>
    </div>
    <br>
    <script>
        function deletarNPC(npcId) {
            if (confirm("Tem certeza que deseja deletar esse NPC?")) {
                fetch(`/npc/delete/${npcId}`, {
                    method: 'DELETE'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        alert("NPC deletado com sucesso!");
                        location.reload();
                    } else {
                        alert("Erro ao deletar NPC");
                    }
                })
                .catch(error => console.error('Erro:', error));
            }
        }
    </script>
    <script>
        document.getElementById('npc-select').addEventListener('change', function() {
            var npcId = this.value;
            if (npcId) {
                var modalId = '#exampleModal' + npcId;
                var modal = new bootstrap.Modal(document.querySelector(modalId));
                modal.show();
            }
        });
    </script>

    {% endif %}

{% endblock %}
