{% extends 'base.html' %}

{% block conteudo %}

    {% if current_user.is_authenticated %}
    <div class="card shadow p-5 bg-dark text-white-50">
        
        <div class="d-flex align-items-center">
            <h5 class="text-white mb-0 me-2"><b>LISTA DE PERSONAGENS</b></h5>
            <button class="btn btn-secondary btn-sm">+</button>
        </div>
        <br>
        <p>
            <strong class="text-white">Nome:</strong> Aristemy <strong class="text-white">Classe:</strong> Bladesinger <strong class="text-white">Raça:</strong> Alto Elfo <strong class="text-white">Nível:</strong> 13
        </p>
    </div>
    <br>    


 
    {% endif %}

{% endblock %}
